.box {
  background: #f4f4f4b0;
}
.content {
  display: flex;
  padding: 9.5em 10.4em 5.9em 11em;
}
.text {
  flex-basis: 57%;
}
.p1 {
  font-family: "Inter";
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 1.2rem;
}
.p2 {
  font-family: "Inter";
  font-style: normal;
  font-size: 42px;
  line-height: 64px;
  letter-spacing: 0.01em;
  color: #0a0a14;
  max-width: 41.6rem;
}
.p3 {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.05em;
  margin-top: 1.4rem;
  color: #000000;
  max-width: 35rem;
}

.nav {
  margin-top: 3.6rem;
}
.nav a:hover {
  border-style: solid;
  background: #af0c4826;
}
.nav a {
  padding-left: 0.3rem;
  padding-right: 1.25rem;
  padding-top: 1.5rem;
}
.Img {
  flex-basis: 43%;
  justify-content: flex-end;
}

.img {
  border-radius: 22px;
  max-width: 21.5rem;
  margin-left: 7.56rem;
  margin-top: 3.5rem;
  justify-content: flex-end;
  box-shadow: -20px -20px #e92577;
}
.mail {
  color: #af0c48;
}
.mail:hover {
  font-size: 105%;
}
.red {
  color: #af0c48;
  display: inline;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .content {
    padding: 9.5em 2em 5.9em 2em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    padding: 9.5em 2em 5.9em 2em;
  }
  .img {
    max-width: 15rem;
    margin-left: 5rem;
    margin-top: 4rem;
  }
  .text {
    min-width: 40%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content {
    padding: 5em 2em 5.9em 2em;
    flex-direction: column-reverse;
  }

  .img {
    max-width: 15rem;

    margin-left: 5rem;
    margin-top: 4rem;
  }
  .text {
    padding-top: 5rem;
    min-width: 30%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .content {
    padding: 5em 2em 4em 2em;
    flex-direction: column-reverse;
  }
  .img {
    border-radius: 30rem;
    max-width: 15rem;
    margin-left: 2rem;
    margin-top: 1rem;
    box-shadow: -10px -10px #e92577;
  }
  .nav {
    margin-top: 2rem;
  }
  .p1 {
    padding-top: 4rem;
  }
  .p2 {
    font-size: 40px;
  }
}
