* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  /* background-image: url("../public/BirinciAlternatif.svg"); */
  max-width: 1440px;
}
.cards {
  margin: 0rem 11.8rem;
  display: flex;
  gap: 64px;
}
.p {
  font-family: "Inter";
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: #0a0a14;
  padding: 5.5rem 40rem 2.25rem 40.9rem;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .cards {
    margin: 0rem 2rem;
    flex-direction: inherit;
    gap: 2rem;
  }
  .p {
    padding: 5.5rem 0rem 2.25rem 0rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cards {
    margin: 0rem 2rem;
    flex-direction: inherit;
    gap: 2rem;
  }
  .p {
    padding: 5.5rem 0rem 2.25rem 0rem;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .cards {
    margin: 0rem 2rem;
    flex-direction: column;
    gap: 6rem;
  }
  .p {
    padding: 5.5rem 0rem 2.25rem 0rem;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .cards {
    margin: 0rem 2rem;
    flex-direction: column;
    gap: 8rem;
  }
  .p {
    padding: 5.5rem 0rem 2.25rem 0rem;
    text-align: center;
  }
}
